Practica1.1/Image01.png filter=lfs diff=lfs merge=lfs -text
Practica1.1/Image02.png filter=lfs diff=lfs merge=lfs -text
Practica1.2/.vsconfig filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/FantasyEnvironments.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/HelloScript.cs filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/HelloScript.cs.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Prefabs.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Prefabs/Escalera.prefab filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Prefabs/Escalera.prefab.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Prefabs/Escalon.prefab filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Prefabs/Escalon.prefab.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Prefabs/Pared.prefab filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Prefabs/Pared.prefab.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Prefabs/cart3_LOD0.prefab filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Prefabs/cart3_LOD0.prefab.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Readme.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Readme.asset.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Scenes.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Scenes/SampleScene.unity filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Scenes/SampleScene.unity.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/SampleSceneProfile.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/SampleSceneProfile.asset.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/URP-Balanced-Renderer.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/URP-Balanced-Renderer.asset.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/URP-Balanced.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/URP-Balanced.asset.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/URP-HighFidelity-Renderer.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/URP-HighFidelity-Renderer.asset.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/URP-HighFidelity.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/URP-HighFidelity.asset.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/URP-Performant-Renderer.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/URP-Performant-Renderer.asset.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/URP-Performant.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/Settings/URP-Performant.asset.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/StarterAssets.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/TutorialInfo.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/TutorialInfo/Icons.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/TutorialInfo/Icons/URP.png filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/TutorialInfo/Icons/URP.png.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/TutorialInfo/Layout.wlt filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/TutorialInfo/Layout.wlt.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/TutorialInfo/Scripts.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/TutorialInfo/Scripts/Editor.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/TutorialInfo/Scripts/Editor/ReadmeEditor.cs filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/TutorialInfo/Scripts/Editor/ReadmeEditor.cs.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/TutorialInfo/Scripts/Readme.cs filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/TutorialInfo/Scripts/Readme.cs.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/UniversalRenderPipelineGlobalSettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/Assets/UniversalRenderPipelineGlobalSettings.asset.meta filter=lfs diff=lfs merge=lfs -text
Practica1.2/Packages/manifest.json filter=lfs diff=lfs merge=lfs -text
Practica1.2/Packages/packages-lock.json filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/AudioManager.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/BurstAotSettings_StandaloneWindows.json filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/ClusterInputManager.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/CommonBurstAotSettings.json filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/DynamicsManager.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/EditorBuildSettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/EditorSettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/GraphicsSettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/InputManager.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/MemorySettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/NavMeshAreas.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/PackageManagerSettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/Physics2DSettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/PresetManager.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/ProjectSettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/ProjectVersion.txt filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/QualitySettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/SceneTemplateSettings.json filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/ShaderGraphSettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/TagManager.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/TimeManager.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/URPProjectSettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/UnityConnectSettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/VFXManager.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/VersionControlSettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/ProjectSettings/XRSettings.asset filter=lfs diff=lfs merge=lfs -text
Practica1.2/Readme.md
*.txt filter=lfs diff=lfs merge=lfs -text
*.vsconfig filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
